extends ../layout

block content
    .jumbotron.jumbotron-fluid
        .container
            h1.display-4 #{name}
            p.lead
                | Reset your password
    .container
        .card
            .card-body
                h4 Edit my main information
                hr

                form(data-ajax, method='post', action='')
                    .form-group
                        label Password
                        input.form-control(type='password', name='password')
                        small.form-text.text-muted Your password must be secure
                    .form-group
                        label Password Confirmation
                        input.form-control(type='password', name='password_confirmation')

                    button.btn.btn-primary(type='submit')
                        i.fa.fa-save
                        | &nbsp;Save
